@media (max-width: 800px) {

  .modal-overlay {

    #windowSignInBody {
      width: 80vw;
      margin: 15vw auto;
      height: 82vw;
      font-size: 4vw;

      .modal-header {
        padding: 1vw;
      }

      .modal-body {
        height: 55vw;
        padding: 3vw;

        .modal-title {
          margin-left: 5vw;
          margin-bottom: 4vw;
        }

        .formSignIn {
          font-size: 4vw;

          .forInputEndLabel {
            width: 65vw;
            height: 47vw;
            padding: 3vw 4vw;

            input {
              font-size: 4.5vw;
              height: 6vw;
            }

            .helpForEnterPasswordSignIn {
              width: 35vw;
              height: 24vw;
              left: 11vw;
              top: 51vw;

              p {
                font-size: 3vw;
              }

              .passwordStatusInfoSignIn {
                padding-left: 1.5vw;

                p {
                  font-size: 2.5vw;
                }
              }
            }
          }

          .btnSubmit {

            button {
              padding: 0.5vw 1vw;
              font-size: 4vw;
              margin: 4vw 4vw 1.5vw 1vw;
              height: 7vw;
            }
          }
        }
      }
    }
  }
}
