@import '../../src/styles/colors.scss';

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: $colorBackgroundForModal;
    display: none;

    #windowSignInBody {
        width: 40vw;
        border-radius: 5px;
        background: $colorWhite;
        margin: 18vh auto;
        height: auto;
        @extend %textTypeForElements;
        font-size: 2vh;

        .modal-header {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            border: none;
        }

        .modal-body {
            height: auto;

            .modal-title {
                margin-left: 4vw;
                margin-bottom: 3vh;
            }

            .formSignIn {
                font-size: 2vh;

                .forInputEndLabel {
                    width: 30vw;
                    margin: auto;
                    background-color: $mainColor;
                    padding: 2vh 4vw;
                    border-radius: 10px;
                    border: none;

                    input {
                        font-size: 2vh;
                        border-radius: 5px;
                        background: $colorWhite;
                        border: none;
                    }
                }
                .btnSubmit {
                    background-color: $colorWhite;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    button {
                        padding: 1vh 1vw;
                        font-size: 2vh;
                        margin: 3vh 4vw 3vh 1vw;
                        width: auto;
                        height: auto;
                        background: $mainColor;
                        border-radius: 5px;
                        border: none;
                        font-weight: bold;
                    }

                    #btnForLogin:hover {
                        background: $hoverMainColor;
                    }
                }
            }
        }
    }
}
