.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(165, 162, 179, 0.5);
    display: none;

    .modal-window {
        width: 50vw;
        border-radius: 5px;
        background: #fff;
        margin: 10vh auto;
        height: auto;
        color: #4D5352;
        font-style: normal;
        font-weight: bold;
        font-size: 3vh;

        .modal-header {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            border: none;
        }

        .modal-body {
            height: auto;

            .modal-title {
                margin-left: 4vw;
                margin-bottom: 5vh;
            }

            .formSignIn {
                font-size: 3vh;

                .forInputEndLabel {
                    width: 40vw;
                    margin: auto;
                    background-color: #D4DCF2;
                    padding: 3vh 4vw;
                    border-radius: 10px;
                    border: none;

                    input {
                        font-size: 3vh;
                    }
                }
                .btnSubmit {
                    background-color: white;

                    button {
                        font-size: 3vh;
                        margin-left: 40vw;
                        margin-bottom: 4vh;
                        margin-top: 4vh;
                        width: 137px;
                        height: 56px;
                        background: #D4DCF2;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
