@import '../../src/styles/colors.scss';

%stylesCategory {
  height: 3vw;
  background: $colorWhite;
  border-radius: 5px;
  font-size: 1.3vw;
  color: $colorText;
  cursor: pointer;
}

%stylesCategoryDefault {
  padding-left: 1vw;
  padding-top: 1vw;
  font-weight: bold;
}

%textForBtn {
  font-size: 1.6vw;
  color: $colorText;
  font-weight: bold;
}
