@media (max-width: 800px) {

  #nameCategoryInValid {
    left: 75vw;
    top: 53vw;
    width: 15vw;
    height: 7vw;
    font-size: 2vw;
  }

  #nameTaskInValid {
    left: 10vw;
    top: 54vw;
    width: 15vw;
    height: 7vw;
    font-size: 2vw;
  }
}
