@import '../../src/styles/colors.scss';

.divToDoList {
  display: none;
  width: 46.9vw;
  height: auto;
  background: $mainColor;
  position: absolute;
  top: 8vw;
  left: 26.5vw;
  border-radius: 10px;
  padding-top: 1vw;
  padding-bottom: 2vw;

  h3 {
    font-size: 1.5vw;
    font-weight: bold;
    color: $colorText;
    margin: 2.5vw 0 3vw 5vw;
  }

  #btnSetOwnСategories {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 3.8vw;
    height: 3.8vw;
    background: $colorWhite;
    border-radius: 50%;
    border: none;
    left: 39vw;
    top: 2.5vw;

    p {
      @extend %textForBtn;

      margin-top: 0.5vw;
    }
  }

  #btnSaveСategories {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 3.8vw;
    height: 3.8vw;
    background: $colorWhite;
    border-radius: 50%;
    border: none;
    left: 33vw;
    top: 2.5vw;

    p {
      margin-top: 0.8vw;
      background-image: url(../../shared/img/dsct2.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 2.2vw;
      height: 1.9vw;
    }
  }

  #btnDeleteСategories {
    position: absolute;
    display: none;
    justify-content: center;
    display: flex;
    width: 3.8vw;
    height: 3.8vw;
    background: $colorWhite;
    border-radius: 50%;
    border: none;
    left: 27vw;
    top: 2.5vw;

    p {
      @extend %textForBtn;

      margin-top: 0.4vw;
    }
  }

  .maxHeight {
    min-height: 25vw;
    max-height: 28vw;
    overflow-y: auto;
    margin-top: 6vw;

    .containerForListСategories {

      .listСategories {
        @extend %stylesCategory;
        @extend %stylesCategoryDefault;

        width: 32vw;
        margin: 0.2vw 0 1vw 5vw;
        display: flex;
        justify-content: space-between;

        .numberOfTasksInCategory {
          width: 2vw;
          display: flex;
          justify-content: center;
        }
      }
    }

    .containerForListСategoriesUser {

      .divForListMy {
        @extend %stylesCategory;
        @extend %stylesCategoryDefault;

        display: flex;
        justify-content: space-between;
        padding-right: 0.5vw;
        padding-bottom: 1vw;
        position: relative;
        width: 32vw;
        margin: 1vw 0 1vw 5vw;

        button {
          border-radius: 4px;
          display: flex;
          justify-content: center;
          width: 3vw;
          height: 3vw;
          position: absolute;
          top: 0;
          left: 33.8vw;
          border: none;
          background: $colorWhite;

          p {
            @extend %textForBtn;
          }
        }

        label {
          cursor: pointer;
          width: 34vw;
        }

        .numbersTasks {
          width: 2vw;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .listСategoriesForInput {
    width: 32vw;
    position: absolute;
    top: 7.5vw;
    left: 5vw;

    @extend %stylesCategory;

    input {
      width: 100%;
      height: 100%;
      border: none;
      font-size: 1.3vw;
      font-weight: bold;
    }
  }

  img {
    position: fixed;
    top: 19vw;
    left: -24vw;
    width: 24vw;
    height: 24vw;
  }
}
