$mainColor: #D4DCF2;
$colorText: #4D5352;
$hoverMainColor: #c4cde4;
$colorError: brown;
$colorWhite: white;
$colorBackgroundForErrorMessage: rgba(211, 207, 230, 0.9);
$colorBackgroundForModal: rgba(165, 162, 179, 0.5);
