$mainColor: #D4DCF2;
$colorText: #4D5352;
$hoverMainColor: #c4cde4;
$colorError: rgb(87, 52, 52);
$colorWhite: white;
$colorBackgroundForErrorMessage: rgba(143, 131, 131, 0.8);
$colorBackgroundForMessageRequest: rgba(143, 131, 131, 0.2);
$colorBackgroundForModal: rgba(165, 162, 179, 0.5);
$colorTextLight: #949494;
$colorBackgroundForMessage: rgba(165, 162, 179, 0.3);
$hoverColorText: #9fa9c3;
