@import '../styles/colors.scss';

.errorInput {
    color: $colorError;
    display: none;
    position: absolute;
}

.mb-3 {
    margin-bottom: 4vh !important;
    position: relative;

    p {
        padding: 1vh;
        width: auto;
        margin-top: 1vh;
        font-size: 2vh;
        background: $colorBackgroundForErrorMessage;
        border-radius: 5px;
        z-index: 1;
    }
}

.divForErrorForm {
    margin: 3vh 4vw 1vh 4vw;
    width: 30vw;

    .notFoundUser {
        text-align: center;
        color: $colorWhite;
        display: none;
        background-color: $colorError;
        padding: 5px 10px;
        border-radius: 3px;
        z-index: 1;
    }
}

.crossedOut {
    text-decoration: overline;
}
