.fatherDaily {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #ffff99 -14%, #ffff00 122%);
    padding: 5px;

    &__Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__nameVeb {
            margin: 2vh 5vw 1vh 40vw;

            h1 {
                font-size: 7vh;
            }
        }

        &__btnRegistration {
            margin: 5vh 5vw;

            button {
                font-size: 2vh;
                margin: 2px;
                width: 10vw;
            }
        }
    }
}
