.fatherDaily {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #ffff99 -14%, #ffff00 122%);
    padding: 5px;

    &__Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__nameVeb {
            margin: 2vh 5vw 1vh 40vw;

            h1 {
                font-size: 7vh;
            }
        }

        &__btnRegistration {
            margin: 5vh 5vw;

            button, input, label, h1 {
                font-size: 3vh;
            }

            .modal-dialog {
                max-width: 40vw;
                margin-left: 30vw;
                margin-right: 30vw;
            }
        }
    }
}
