@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Qahiri&family=Uchen&display=swap');

.fatherDaily {
    width: 100vw;
    height: 100vh;
    padding: 5px;
    background-color: rgb(238, 234, 234);

    &__Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__nameVeb {
            margin: 2vh 5vw 1vh 40vw;

            h1 {
                font-family: 'Otomanopee One', sans-serif;
                font-size: 8vh;
                color: rgb(58, 54, 48);
            }
        }

        &__btnRegistration {
            margin: 5vh 5vw;

            .btn-outline-dark {
                font-size: 2vh;
                margin: 2px;
                width: 8vw;
                height: auto;
                padding: 1px;
            }
        }

        &__btnLogOut {
            margin: 5vh 5vw;
            display: none;

            .btn-outline-dark {
                font-size: 2vh;
                margin: 2px;
                width: 8vw;
                height: auto;
                padding: 1px;
            }
        }
    }

    &__descriptionDaily {
        margin: 5vh 10vw;
        padding: 1vh 1vw;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20px;
        font-family: 'Uchen', serif;
        font-size: 3vh;
        font-weight: bold;
        color: rgb(58, 54, 48);

        p {
            text-indent: 4vw;
            margin-top: 2vh;
        }
    }
}
