@import './colors.scss';

#btnBackAccount:hover, #btnLogOut:hover, #btnBackCategories:hover {
  background: $hoverMainColor;
}

#BtnForShowToDoList:hover, #BtnForShowRemider:hover {
  background: $hoverMainColor;
  cursor: pointer;
}

.listСategories:hover, #answerNo:hover, #answerYes {
  cursor: pointer;
}
