@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Qahiri&family=Uchen&display=swap');

.registrHeader {
    position: relative;

    &__nameVeb {

        h1 {
            position: absolute;
            left: 38vw;
            top: 9vh;
            font-weight: bold;
            font-size: 6vw;
            color: #4D5352;
        }

        p {
            position: absolute;
            width: 28vw;
            left: 35vw;
            top: 27vh;
            font-weight: bold;
            font-size: 1.5vw;
            line-height: 4vh;
            text-align: center;
            color: #4D5352;
        }
    }

    &__btnRegistration {

        #modalSignInBtn {
            position: absolute;
            width: 8vw;
            height: 7vh;
            left: 77vw;
            top: 14vh;
            background: #D4DCF2;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            color: #4D5352;
            font-size: 3vh;
        }

        #modalSignUpBtn {
            position: absolute;
            width: 8vw;
            height: 7vh;
            left: 77vw;
            top: 25vh;
            background: #D4DCF2;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            color: #4D5352;
            font-size: 3vh;
        }

        #modalSignUpBtn:hover, #modalSignInBtn:hover {
            background: #c4cde4;;
        }
    }
}

.descriptionDaily {

    &__img {
        position: absolute;
        width: 53vw;
        height: 56vh;
        left: 7vw;
        top: 40vh;
        background-image: url(../../shared/img/imageForMainPage.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 800px;
    }

    &__container {

        position: absolute;
        width: 31vw;
        left: 53vw;
        top: 49vh;
        font-weight: bold;
        font-size: 1.5vw;
        line-height: 4vh;
        text-align: justify;
        color: #4D5352;

        p {
            margin-bottom: 3vh;
        }
    }
}
