@import '../styles/colors.scss';

%forBtnRegistration {
    position: absolute;
    width: 9.5vw;
    height: 3.9vw;
    left: 84vw;
    background: $mainColor;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: $colorText;
    font-size: 1.5vw;
}

%textTypeForElements {
    color: $colorText;
    font-style: normal;
    font-weight: bold;
}
