.modal-overlay {

    #WindowSignUpBody {
        width: 50vw;
        border-radius: 5px;
        background: #fff;
        margin: 10vh auto;
        height: auto;
        color: #4D5352;
        font-style: normal;
        font-weight: bold;
        font-size: 3vh;

        .modal-header {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            border: none;
        }

        .modal-body {
            height: auto;

            .modal-title {
                margin-left: 4vw;
                margin-bottom: 3vh;
            }

            .formSignUp {
                font-size: 3vh;

                .forInputEndLabel {
                    width: 40vw;
                    margin: auto;
                    background-color: #D4DCF2;
                    padding: 2vh 4vw;
                    border-radius: 10px;
                    border: none;

                    input {
                        font-size: 3vh;
                        border-radius: 5px;
                    }
                }
                .btnSubmit {
                    background-color: white;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    button {
                        padding: 1vh 1vw;
                        font-size: 3vh;
                        margin: 3vh 4vw 3vh 1vw;
                        width: auto;
                        height: auto;
                        background: #D4DCF2;
                        border-radius: 5px;
                        border: none;
                        font-weight: bold;
                    }

                    #submitFormSignUp:hover {
                        background: #c4cde4;;
                    }
                }
            }
        }
    }
}
