.modal-dialog {
    margin: 15vh auto;
    max-width: 50vw;

    .modal-content {

        .modal-header {
            border-bottom: 1px solid rgb(114, 110, 110);

            h1 {
                color: black;
                font-weight: bold;
            }
        }

        input, label, h1, button {
            font-size: 2vh;
        }

        input {
            border-color: black;
        }
    }
}
