.fatherDaily {
    position: relative;

    &__containerForCalendar {
        position: absolute;
        box-sizing: border-box;
        width: 42vw;
        margin: auto;
        left: 25vw;
        top: 40vw;

        &__calendar {

            .month {
                margin: 0;
                padding: 3rem 2rem 2rem;
                background: #555555;
                text-align: center;
                width: 100%;
                color: white;
                list-style: none;

                li {
                    padding: 0;
                    margin: 0;
                    font-size: 1.5vw;
                    line-height: 1vw;
                    letter-spacing: 0.1vw;
                    text-transform: uppercase;
                    font-weight: bold;

                }

                .prev, .next {
                    cursor: pointer;
                }

                .prev {
                    float: left;
                }

                .next {
                    float: right;
                }

                .year-name {
                    font-size: 1.2vw;
                    font-weight: bold;
                }
            }

            .weekdays {
                margin: 0;
                padding: 0;
                background-color: white;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: left;

                li {
                    display: inline-block;
                    flex: 0 0 calc(100% / 7);
                    text-align: center;
                    font-size: 1.2vw;
                    margin: 0.1vw;
                }
            }

            .days {
                margin: 0;
                padding: 1rem 0;
                background-color: #D4DCF2;
                width: 42vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                align-content: flex-start;
                height: 14rem;

                li {
                    padding: 0.5rem;
                    list-style: none;
                    display: inline-block;
                    flex: 0 0 calc(100% / 7);
                    text-align: center;
                    color: #999;
                    font-size: 0.9rem;
                    line-height: 1rem;

                    .date-now{
                        color: #000;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
