@media (max-width: 850px) {

  .containerDivForMessageConfirmation {

    .divForMessageConfirmation {
      width: 26vw;
      height: 12vw;
      top: 55vw;
      left: 35vw;
      padding: 1vw;

      div {
        font-size: 3vw;
        width: auto;
        height: auto;
        margin-left: 1.3vw;
      }
    }
  }
}
